In [2]:
import pandas as pd

In [5]:
df={
    "name"==["pratik","Ram","Krishna"],
    "age"==[22,20,19],
}

In [6]:
data1=[
    ["Pratik",21,"B.Tech"]
]

In [9]:
dataframe(data1)

NameError: name 'dataframe' is not defined